@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;

    .favoriteButton,
    .deleteButton {
        margin-left: 5px; 
    }
}

.favoriteButton {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0;
    margin-right: 5px;

    
    &.fa-star {
        color: gold; 
    }

    
    &.fa-star-o {
        color: gray; 
    }

    &:hover {
        color: #ff9800; 
    }
}

.deleteButton {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 5px;
    padding: 0;

    &:hover {
        color: #ff9800;
    }
}